$fontColor:#C8CBE7;
$bodyBg:#171823;
$btnColor:#5B5E7E;
$btnActive:$fontColor;
$listBg:#25273D;
$deletedTask:#4D5067;
$bgSrcDesktop:'bg-desktop-dark.jpg';
$bgSrcMobile:'bg-mobile-dark.jpg';
$btnHover:#C8CBE7;
$iconUnicode:'\f185';
