$fontColor:#494C6B;
$bodyBg:#F2F2F2;
$btnColor:#9495A5;
$btnActive:$fontColor;
$listBg:#fff;
$deletedTask:#D1D2DA;
$bgSrcDesktop:'bg-desktop-light.jpg';
$bgSrcMobile:'bg-mobile-light.jpg';
$btnHover:$fontColor;
$iconUnicode:"\f186";